.container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 3rem;
    background-color: rgba(180, 231, 59, 0.767);
  /*  color: white;*/
}

.fa-cart-shopping {
    margin-right: 4rem;
}

#cantidad-items-carrito {
    display: block;
    position: relative;
    margin-left: -80px;
    top: -15px;
    border-radius: 100%;
    width: 0px;
    padding-left: 20px;
   
}